{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<div class="row">
<div class="col-md-12">
<img src="{% static '13.jpg' %}"width="100%" style="height:400px;" />
</div>
</div>
<div class="row text-center"id="service3">
<div class="col-md-12">
<h1 style="font-family:Constantia;text-align-center;font-size:55px;">About Us</h1>
<p class="text-center","font-family:Impact;font-size:38px;">Kidz Castle's preschool program has three dedicated classes<br>
</p>
</div>
</div>
                     
<div class="row" id="blog5">
<div class="col-md-6">
<div class="col-md-10 col-md-offset-1">
<img src="{% static 'about-img-3.jpg' %}"width="100%" style="height:400px;" />
</div>
</div>
<div class="col-md-6">
<img src="{% static 'about-img-4.jpg' %}"width="100%" style="height:400px;" />
</div>
</div>


<div class="row"id="subabout3">
<div class="col-md-6">
<h5 style="font-family:Elephant;text-align-center;font-size:38px;">Engaging Learning Environment</h5>
<h5 style="color:#999790;text-align center;font-family:Arial Rounded MT;font-size:17px">YOUR CHILD WILL DEVELOP SELF-ESTEEM, INDEPENDENCE AND LANGUAGE</h5><br>
<p style="font-family:Script MT;text-center;font-size:19px;" >
Learning envionment are nurturing spaces that support the development of all young<br>
Children.They include classrooms,play spaces,areas for caregiving routines,and outdoor
areas Learning enviorenments are well organized and managed settings.they offer
developmentally appropriate schedules,lesson plans.and indoor and outdoor chances for choice,
play exploration and experimentation.<br>
They integrate home tures and are flexible to support the changing ages,interests,and <br>
characterstics of a group of children over time.<br>
<ul  style="font-style:none;font-weight:bold; list-style: none; line-height: 40px;font-size:17px;">
<li>Over 30 Qualified professionals</li>
<li>We offer you our quality services since 2002</li>
<li>Fun and educational activities in our daily plan</li>
 </ul>
</p>
</div>
<div class="col-md-6">
<img src="{% static 'about1.jpg' %}"  class="img-circle" height="400px" width="95%" />
</div>
</div>
<div class="row "id="service4">
<div class="col-md-6">
<h3 style="font-family: desyrel,cursive!important; color:#6e4692;font-size:28px; border-bottom:2px solid #6e4692; padding-bottom:20px;">ABOUT KIDS Castle</h3>
<p style="font-family:Script MT;text-center;font-size:18px;" >
Kids Castle is an initiative of Gurfateh Education Private Limited. Keeping with<br> 
the tradition of excellence at the roots, Kidz Castle has 10+ hallmark centres<br> 
across Punjab. Kidz Castle progresses one pre-school at a time, to be the best<br>
 pre-school brand in India. It caters to the age group of one-and-a-half to<br> 
 three year old children, modeling their growing minds to temples of excellence.
 <br>
 <br>
 <h3 style="font-family: desyrel,cursive!important; color:#6e4692; border-bottom:2px solid #6e4692; padding-bottom:20px;font-size:30px;">Why  Kids Castle</h3>
<ul style="font-family:Constantia;font-size:18px;">
<li> Low investment, High returns</li>
<li> Backed by our educational expertise of over 5 years.<br>
<li> Thoroughly researched curriculum academic material and support.</li>
<li> The right to use the well-known brand name 'KIDZ Castle' for Pre-school.</li>
<li> Continuous training and up-gradation for business partners on the business know-how.</li>
<li> Last but not the least -- our TOTAL commitment to you and your kids.</li>
 </ul>
</div>
<div class="col-md-6">
<img src="{% static 'ABOUT.jpg' %}" height="500px" width="78%" class="img-fluid img-d1"/>
</div>
</div>





<div class="row text-align-center"id="expert1">
<h1 style="text-align:center;font-family:Curlz MT;font-size:25px;"><span style="color:#E8373D;">Parents Loves Us</span></h1>
<h1 style="text-align:center;font-family:Arial Rounded MT;font-size:50px;"><span style="color:#000;">Why Choose Us<br>
                                       --------</span></h1>
 
				
<div class="col-md-6">
<div class="col-md-10 col-md-offset-1">
<img src="{% static 'image-3.jpg' %}"/>
</div>
</div>
<div class="col-md-6">
<p style="font-size:14px;text-center;">
Choosing the best place to care for your child can be a difficult decision.That's why we wanted <br>
to share the main reasons why Dee Why kindergarten offers the very best in Early learning and  <br>
preschool Care.Our trained and experinced team will support your family.we've built a reputation <br>
for forming close bands with parents and families and we find this rewarding partnership delivers <br>
the best results for the children in our care.We work closely with inclusion and support agencies <br>
as well as speech pathologists and occupational therapists.</p>  
<ul  style="font-style:none;font-weight:bold; list-style: none; line-height: 40px;text-center;">
<li><i class="glyphicon glyphicon-ok-sign product3"></i>   Supporting the Child’s Personality</li>
<li><i class="glyphicon glyphicon-ok-sign product3"></i>   Indoor/Outdoor Games for Little Kids</li>
<li><i class="glyphicon glyphicon-ok-sign product3"></i>   Professional & Qualified Teachers</li>
<li><i class="glyphicon glyphicon-ok-sign product3"></i>   Best Learning School for Kids</li>
 </ul>
 </div>
 </div>
 
 









			 



{% endblock %}