{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<div class="row">
<div class="col-md-12">
<img src="{% static '72.jpg' %}"width="100%" style="height:400px;" />
</div>
</div>
<div class="page container">
<div class="row">
      <div class="col-lg-6 text-center offset-lg-3 mb-5">
         <h2>Our Photo Gallery</h2>
         <p>In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
      </div>
      <!-- /col-lg -->
   </div>
   <div class="row">
      <div class="col-lg-6 text-center offset-lg-3 mb-5">
         <h2>Our Photo Gallery</h2>
         
      </div>
      <!-- /col-lg -->
   </div>
   <ul class="nav nav-pills category-isotope center-nav">
      <li class="nav-item">
         <a class="nav-link active" href="#" data-toggle="tab" data-filter="*">All</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#" data-toggle="tab" data-filter=".school">Our School</a>
      </li>
      <li class="nav-item">
         <a class="nav-link" href="#" data-toggle="tab" data-filter=".activities">Activities</a>
      </li>
   </ul>
   


      

















{% endblock %}