{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="row text-center"id="service5">
<div class="col-md-12">
<h1 style="font-family:Constantia;text-align-center;font-size:55px;">Our Programs</h1>
<p class="text-center","font-family:Impact;font-size:38px;">Kidz Castel's preschool program has three dedicated classes<br>
</p>
</div>
</div>

<div class="row-text-center"id="img">
<div class="col-md-6">
<img src="{% static 'program.jpg' %}" height="320px" width="95%" class="img-fluid img-d2" />
</div>
<div class="col-md-6">
<h3 style="font-family: desyrel,cursive!important; color:#6e4692;font-size:28px; border-bottom:2px solid #6e4692; padding-bottom:20px;">PROGRAMS OF KIDZ Castle</h3>
<p style="font-size:17px; text-align:justify;">Children of the ages between 18 months and 6 years are extremely receptive. 
Kidz Castle Play School' fun-filled programme makes the most of this by 
encouraging the children to understand and develop basic language skills
 while also developing social skills, gross and fine motor skills and creativity at
 the same time, through songs, music and imaginative play. At Kidz Castle play
 schools, we strongly believe that each child is a unique person and imbibes 
 social, physical and intellectual behavior over a period of time.</p>
</div>
</div>
</div>
<div class="row text-center">
<h3 style="font-family: desyrel,cursive!important; color:#6e4692;font-size:27px; border-bottom:2px solid #6e4692; padding-bottom:20px;">INFRASTRUCTURE - A BIRD'S-EYE VIEW</h3>
<p style="font-family:Script MT;text-center;font-size:19px;" >
Infrastructure at our play schools has been specially designed to suit the young, bouncy and eager preschoolers, keeping in mind their inquisitive and explorative<br> 
nature. The arrangements at our play schools promote learning through, and with, fun and cheer. The bright facade of our play school buildings and the clean,<br> 
colorful interiors combine in creating the perfect atmosphere for the children to 'react' in and pick up the basic skills. At our play schools, there are no formal<br> 
classrooms, just thematic rooms like an aqua room, audio-visual room, art and craft room and so on. The role play room is particularly useful in enhancing life <br>
skills in small children. The rooms are well stocked, with non-toxic toys and equipment, as per the theme and learning objective of each particular room. The <br>
outdoor play area at our play schools includes a splash pool and a mud pit, prime examples of 'learn while you have fun'. Children learn to co-exist and share, as<br>
 well as to enhance gross motor skills , thereby making this an ideal fun learning place for the children.</p>
 </div>
 
 
 
<div class="row text-center"id="services6">
<h1 class="text-center;font-size:55px;"><span style="color:#e31934;">Our programs</span></h1>
<p class="text-center","font-family:Impact;font-size:38px;">Kidz Castel's preschool program has three dedicated classes<br>
<div class="col-md-4" style="padding:20px">
<img src="{% static 'playgroup.jpg' %}" width="100%" style="height:320px;" />
 <div class="col-md-12 blogs">
<br><h1 style="font-size:24px;font-family:desyrel,cursive!important;">PLAY GROUP</h1>
<p style="font-size:16px;font-family:desyrel,cursive!important;">Between 1yr to 3 yrs. of age, small children<br> 
are curious and generally love to explore the<br> 
world around them.
<br>
<br>

</div>
</div>
  
 <div class="col-md-4" style="padding:20px">

<img src="{% static 'junior.jpg' %}" width="100%" style="height:320px;" />
 <div class="col-md-12 blogs">
<br><h1 style="font-size:24px;font-family:desyrel,cursive!important;">KIDZ JUNIOR</h1>
<p style="font-size:16px;font-family:desyrel,cursive!important;">At KidzCastle, Kidz Junior curriculum sets the<br>
 pace for active learning through various fun <br>
 filled activities.
 <br>
 <br>

     
  </div>
  </div>
	
   <div class="col-md-4" style="padding:20px">

<img src="{% static 'senior.jpg' %}" width="100%" style="height:320px;" />
 <div class="col-md-12 blogs">
<br><h1 style="font-size:24px;font-family:desyrel,cursive!important;">KIDZ SENIOR</h1>
<p style="font-size:16px;font-family:desyrel,cursive!important;">Coming to KS, our children expand their<br> 
knowledge from the realms of school to the<br>
 neighbourhood and beyond.
 <br>
 <br>

  </div>
  </div>
  </div>
</div>
      




{% endblock %}