{% extends 'base.html' %}

{% load staticfiles %}
{% block content %}

<div class="row">
<div class="col-md-12">
<img src="{% static '13.jpg' %}"width="100%" style="height:400px;" />
</div>
</div>
<div class="row text-center"id="services">
<div class="col-md-6">
<h5 style="font-family:Elephant;text-align-center;font-size:35px;"><span style="color:#035392;">Safe and Healthy</span> learning environment for all children</h5>
<br>
<p style="font-family:Imprint MT Shadow;text-center;font-size:18px;" >
Quisque at odio nunc. Etiam ac nibh egestas, accumsan felis id,<br> 
fermentum purus. Quisque vitae hendrerit elit. Maecenas ipsum mi,<br>
iaculis quis mattis cursus, auctor ac magna. Integer felis metus,<br>
aliquet in dignissim ut, varius et odio. Donec malesuada diam quis<br> 
 dignissim suscipit. Praesent purus turpis, tristique hendrerit<br>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean<br> 
commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et ma</p>
<br>
<button class="btn btn-primary text-white">Contact us</button>
</div>
<div class="col-md-6">
<img src="{% static 'serviceimg2.jpg' %}"  class="img-circle" height="380px" width="80%" />
</div>
</div>
<div class="row text-center" id="about6">
<h1 style="text-align:center;font-family:Elephant;font-size:60px;">Our Services</h1>
<p style="text-align:center;font-family:Consolas;font-size:20px;">What We Offer<br>
                                          -------------</p><br>
<div class="col-md-4">
<div class="col-md-12 blogs">
<img src="{% static 'service1.jpg' %}" width="100%" class="img-circle" style="height:320px;" />
<br><br><h1>Daycare</h1><br>
<p style="font-size:14px;font-family:Bookman Old Style;">We provide a safe, stimulating and caring environment that promotes learning 
through play, using a wide range of resources, and the opportunity for 
children to develop their social skills as they play alongside 
and with other children.We have our own A.C. transport facility for the 
comfort of students along with a lady attendant.    
   </p>
  </div>
  </div>
  
 <div class="col-md-4">
  <div class="col-md-12 blogs">
<img src="{% static 'service2.jpg' %}" width="100%" class="img-circle" style="height:320px;" />
<br><br><h1>Summer Camp</h1><br>
<p style="font-size:15px;font-family:Bookman Old Style;"> You are always welcome to have tour of our school and see 
what we offer.We have our own large range of play equipments which 
we keep regularly updated.Children join us to have fun and to learn, 
through play method, the individual skills needed to enter school 
confidently and enthusiastically.    
   </p>
   </p>
  </div>
  </div>
  
 <div class="col-md-4">
 <div class="col-md-12 blogs">
<img src="{% static 'service3.jpg' %}" width="100%" class="img-circle" style="height:320px;" />
<br><br><h1>Infant Care</h1><br>
<p style="font-size:14px;font-family:Bookman Old Style;">KIDS CASTLE School, which comprises bright, spacious, air conditioned rooms. 
We have large classrooms and an adjacent activity rooms as well as special toilet 
facilities with low height seats and separate washrooms for boys and girls, a 
kitchen for preparation of hygienic & healthy food for the children and two 
easily accessed outside areas.     
   </p>
  </div>
  </div>
  </div>
  <div class="row text-center"id="service1">
  <div class="col-md-6">
<img src="{% static 'serviceimg1.jpg' %}"  height="400px" width="80%" />
</div>
<div class="col-md-6">
<h1 style="text-align:center;font-family:Elephant;font-size:35sspx;">Frequently asked questions</h1>
<br>
<div class="dropdown"id="our">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="color:#fc1934;"><button class="btn btn-danger "> + Our Philosophy</button> 
  <span class="caret"></span></a>
  <ul class="dropdown-menu" style="background-color:#1b2ce3;color:white">
    <a href="#">Donec commodo sodales ex, scelerisque laoreet nibh 
	hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus 
	leo a dolor placerat, nec elementum ipsum convall.</a>  	
  </ul>
  </div>
  
<div class="dropdown"id="our1">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="color:#fc1934;"><button class="btn btn-danger "> + Our Organization</button>
  <span class="caret"></span></a>
  <ul class="dropdown-menu" style="background-color:#1b2ce3;color:white">
    <a href="#">Etiam rhoncus leo a dolor placerat,nec elementum ipsum 
	convall Maecenas at arcu risus scelerisque laoree.</a>  	
  </ul>
  </div>
  <br>
  <br>
  <br>
<div class="dropdown"id="our2">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="color:#fc1934;"><button class="btn btn-danger "> + PartnerShips with our team</button> 
  <span class="caret"></span></a>
  <ul class="dropdown-menu" style="background-color:#1b2ce3;color:white";>
    <a href="#">Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. 
	Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh 
	hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a 
	dolor placerat,nec elementum ipsum convall.</a>  	
  </ul>
  </div>
</div>
</div>  



  
</div>
</div>
{% endblock %}